ion-avatar {
    
    height: 30vh;
    width: 30vh;
    padding: 20px;
}

ion-col {
    margin-top: 20px;
    border-bottom: solid 1px #6e6e6e;
    color: #fff;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

ion-thumbnail {
    height: 50%;
    --size: 140px;
    --border-radius: 4px;
}